{% extends 'blog/base.html' %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <h2><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h2>
                <p>
                    Tags:
                    {% for tag in post.tags.all %}
                        <a href="{% url "blog:blog_list_by_tags" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
        {% endfor %}
    {% else %}
        <h2>No Published posts are available</h2>
    {% endif %}
{% endblock %}